---
interface Props {
  title: string;
  body: string;
  icon: string;
  color: string;
  iconMorado?: boolean;
}

const { icon, title, body, color, iconMorado } = Astro.props;
---

<article
  class={`bg-white border-t-4 p-6 aspect-[3/2] w-[300px] flex flex-col justify-between shadow-lg rounded-md ${color}`}
>
  <div class="text-start">
    <h3 class="text-lg font-[600]">{title}</h3>
    <p class="text-xs text-Grayish-Blue">
      {body}
    </p>
  </div>
  <!-- <img class="w-10 self-end" src={icon} alt="" /> -->
  <img class:list={[
    "w-10 self-end", {iconMorado}
  ]} src={icon} alt="" />
</article>

<style>
  .iconMorado {
    filter: invert(18%) sepia(54%) saturate(7013%) hue-rotate(275deg) brightness(91%) contrast(113%);
  }
</style>
